<br/>
<div class="container">
  <div class ="col-sm-2"><h4>Filter Products : </h4></div>
  <div class ="col-sm-10">
  <form class="form-inline"  (ngSubmit)="onSubmit()" #userForm="ngForm">
 


    <div class="form-group">
      <label for="categoryid">Category:&nbsp;</label>
      
              <select class="form-control" id="categoryid" [(ngModel)]="filterProductRequest.categoryName" 
              placeholder="Select Category" name="categoryid" required #name="ngModel">
              
              <option *ngFor="let category of cat" [value]="category.categoryName">{{category.categoryName}}</option>
              
              </select>
            
        
    </div>
    <div class="form-group">
      <label for="companyid">&nbsp;&nbsp;&nbsp;Company:&nbsp;</label>
      
              <select class="form-control" id="companyid" [(ngModel)]="filterProductRequest.companyName" 
              placeholder="Select Company" name="companyid" required #name="ngModel">
              
              <option *ngFor="let company of companies" [value]="company.companyName">{{company.companyName}}</option>
              
              </select>
        
    </div>

    

    
                        
    &nbsp;&nbsp;&nbsp;      
      <button type="submit" class="btn btn-primary">Filter</button>&nbsp;&nbsp;&nbsp;
      <button type="reset" class="btn btn-primary" (click)="onReset()">Reset</button>
    
      </form>
      </div>
  </div> 
<br/>

<div class="container">    
 
    <div class="col-sm-4" *ngFor = "let product of viewProducts">
      <div class="panel panel-success">
        <div class="panel-heading">{{product.productName}}</div>
        <div class="panel-body"><img [src]="'assets/Images/'+product.productId+'/'+product.imgUrl" class="img-responsive" width="100" height="100" alt="Image">
          <ul>
            <li>Category : {{product.categoryName}}</li>
            <li>Company : {{product.companyName}}</li>
            <li>Description : {{product.shortDescription}}</li>
            <li>Available : {{product.availabeQuantity}}</li>
            <li>Price : {{product.price}} /-</li>
          </ul>
        </div>
        <div class="panel-footer"><button type="button" class="btn btn-success" (click)="onViewProduct(product.quantityId,product.productId)">View Product</button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-success" (click)="onAddToCart(product.quantityId)">Add to Cart</button></div>
      </div>
    </div>
  </div>



<!-- <app-babycare></app-babycare> -->
<router-outlet></router-outlet>
