<pre class=bg-success text-left> Medicare company supplies medicines and a couple of other healthcare essentials at an affordable price.

    We had established a small comapny in 2012 in Delhi, India.
    
    We are Delhi's largest healthcare group. Accredited with - International Quality Certification, Medicare offer genuine medicines round-the-clock, through 24-hour Pharmacies. 
    
    Medicare provides Customer Care any time of the day.

    Quality is the cornerstone of our existence. We have gained experience in pharmacy operations management over the last decade and are committed to delivering best service in industry.

    Medicare is well stocked with medicines OTC and FMCG products, manned by competent staff with computerized system.

    We have more than 5000 products in various categories like Vitamins and supplements, Baby care, Personal care, Health foods and OTC. 
    
    In addition to this we have more than 400 Medicare products in the following categories like vitamins and supplements, health food,Oral care, skin care, personal care, baby care, OTC etc.

    We don't have any branches in Delhi & all over India.




  </pre>
