

<a routerLink="company"><button type="button" class="btn btn-info">Company</button></a>
&nbsp;&nbsp;&nbsp;
<a routerLink="category"><button type="button" class="btn btn-info">Category</button></a>
&nbsp;&nbsp;&nbsp;
<a routerLink="viewproducts"><button type="button" class="btn btn-info">Products</button></a>
&nbsp;&nbsp;&nbsp;
<a routerLink="product-quantity"><button type="button" class="btn btn-info">Products Quantity</button></a>
&nbsp;&nbsp;&nbsp;
<a routerLink="transaction"><button type="button" class="btn btn-info">Transaction</button></a>
&nbsp;&nbsp;&nbsp;

<!-- <a routerLink="category-add"><button type="button" class="btn btn-info">Add Category</button></a>
&nbsp;&nbsp;&nbsp; -->
<!-- <a routerLink="company-add"><button type="button" class="btn btn-info">Add Company</button></a> -->
&nbsp;&nbsp;&nbsp;
<!-- <a routerLink="products-add"><button type="button" class="btn btn-info">Add Product</button></a> -->
&nbsp;&nbsp;&nbsp;
<!-- <a routerLink="product-quantity-add"><button type="button" class="btn btn-info">Add Products Quantity</button></a>
&nbsp;&nbsp;&nbsp; -->
<!-- <a routerLink="transaction-add"><button type="button" class="btn btn-info">Add Transaction</button></a>
&nbsp;&nbsp;&nbsp; -->
<!-- <a routerLink="cart"><button type="button" class="btn btn-info">View Cart</button></a>
&nbsp;&nbsp;&nbsp; -->


<router-outlet></router-outlet>