<p>Cardiac Care Products</p>
<div class="container">    
    <div class="row">
        <div class="col-sm-2"> 
            <div class="panel panel-success">
              <div class="panel-heading">Arjuna</div>
              <div class="panel-body"><img src="assets/Images/Arjuna-Cardiac.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer">
                <button type="button" class="btn btn-success">View Product</button><br/><br/>
                <button type="button" class="btn btn-success">Add to Cart</button>
             </div>
            </div>
          </div>
    
          <div class="col-sm-2"> 
            <div class="panel panel-success">
              <div class="panel-heading">Beta Sitosterol</div>
              <div class="panel-body"><img src="assets/Images/BetasitosterolCardiacCare.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer">
                <button type="button" class="btn btn-success">View Product</button><br/><br/>
                <button type="button" class="btn btn-success">Add to Cart</button>
             </div>
            </div>
          </div>
    
          <div class="col-sm-2"> 
            <div class="panel panel-success">
              <div class="panel-heading">Cardiac Care Capsules</div>
              <div class="panel-body"><img src="assets/Images/cardiac-care-capsule.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer">
                <button type="button" class="btn btn-success">View Product</button><br/><br/>
                <button type="button" class="btn btn-success">Add to Cart</button>
             </div>
            </div>
          </div>
</div>
</div>

<router-outlet></router-outlet>

