<p>Personal Care Products</p>

<div class="container">    
    <div class="row">
        <div class="col-sm-2"> 
            <div class="panel panel-success">
              <div class="panel-heading">Wet Wipes</div>
              <div class="panel-body"><img src="assets/Images/Wet-wipes-personal.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer">
                <div class="panel-footer"><a routerLink="view-single-product"> <button type="button" class="btn btn-success">View Product</button></a></div><br/><br/> 
                <div class="panel-footer"><a routerLink="cart"><button type="button" class="btn btn-success">Add to Cart</button></a></div>
             </div>
            </div>
          </div>
    
          <div class="col-sm-2"> 
            <div class="panel panel-success">
              <div class="panel-heading">Himalaya Handwash</div>
              <div class="panel-body"><img src="assets/Images/Himalaya-handwash-personal.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer">
                <button type="button" class="btn btn-success">View Product</button><br/><br/>
                <button type="button" class="btn btn-success">Add to Cart</button>
             </div>
            </div>
          </div>
    
          <div class="col-sm-2"> 
            <div class="panel panel-success">
              <div class="panel-heading">Dabur Red Toothpaste</div>
              <div class="panel-body"><img src="assets/Images/dabur-red-toothpaste-personal.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer">
                <button type="button" class="btn btn-success">View Product</button><br/><br/>
                <button type="button" class="btn btn-success">Add to Cart</button>
             </div>
            </div>
          </div>
    
         
</div>
</div>

<router-outlet></router-outlet>


