<p>Heath Devices</p>
<div class="container">    
    <div class="row">
        <div class="col-sm-2"> 
            <div class="panel panel-success">
              <div class="panel-heading">Tempearture Gun</div>
              <div class="panel-body"><img src="assets/Images/gun-health.jpeg" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer">
                <button type="button" class="btn btn-success">View Product</button><br/><br/>
                <button type="button" class="btn btn-success">Add to Cart</button>
             </div>
            </div>
          </div>
    
          <div class="col-sm-2"> 
            <div class="panel panel-success">
              <div class="panel-heading">Omron Digital BP Monitor</div>
              <div class="panel-body"><img src="assets/Images/omron-digital-bp-monitor-health.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer">
                <button type="button" class="btn btn-success">View Product</button><br/><br/>
                <button type="button" class="btn btn-success">Add to Cart</button>
             </div>
            </div>
          </div>
    
          <div class="col-sm-2"> 
            <div class="panel panel-success">
              <div class="panel-heading">Thermometer</div>
              <div class="panel-body"><img src="assets/Images/thermometer-health.jfif" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer">
                <button type="button" class="btn btn-success">View Product</button><br/><br/>
                <button type="button" class="btn btn-success">Add to Cart</button>
             </div>
            </div>
          </div>
    
          <div class="col-sm-2"> 
            <div class="panel panel-success">
              <div class="panel-heading">Pulse Oxymeter</div>
              <div class="panel-body"><img src="assets/Images/pulse-oxymeter-covid.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer">
                <button type="button" class="btn btn-success">View Product</button><br/><br/>
                <button type="button" class="btn btn-success">Add to Cart</button>
             </div>
            </div>
          </div>
</div>
</div>

<router-outlet></router-outlet>


