<p>Diabetes Care Products</p>
<div class="container">    
    <div class="row">
        <div class="col-sm-2"> 
            <div class="panel panel-success">
              <div class="panel-heading">ACCU-CHECK</div>
              <div class="panel-body"><img src="assets/Images/Accu-check-diabetes.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer">
                <button type="button" class="btn btn-success">View Product</button><br/><br/>
                <button type="button" class="btn btn-success">Add to Cart</button>
             </div>
            </div>
          </div>
    
          <div class="col-sm-2"> 
            <div class="panel panel-success">
              <div class="panel-heading">Diabetes Check Machine</div>
              <div class="panel-body"><img src="assets/Images/diabetes-check-machine-digital-screen.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer">
                <button type="button" class="btn btn-success">View Product</button><br/><br/>
                <button type="button" class="btn btn-success">Add to Cart</button>
             </div>
            </div>
          </div>
    
          <div class="col-sm-2"> 
            <div class="panel panel-success">
              <div class="panel-heading">Sugar Free</div>
              <div class="panel-body"><img src="assets/Images/Sugar-Free-Gold-Low-Calorie-Sweetener-diabetes.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer">
                <button type="button" class="btn btn-success">View Product</button><br/><br/>
                <button type="button" class="btn btn-success">Add to Cart</button>
             </div>
            </div>
          </div>
</div>
</div>

<router-outlet></router-outlet>

