<p>Pain Relief Products</p>

<div class="container">    
    <div class="row">
        <div class="col-sm-2"> 
            <div class="panel panel-success">
              <div class="panel-heading">Relispray</div>
              <div class="panel-body"><img src="assets/Images/Relispray-PainRelief.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer">
                <button type="button" class="btn btn-success">View Product</button><br/><br/>
                <button type="button" class="btn btn-success">Add to Cart</button>
             </div>
            </div>
          </div>
    
          <div class="col-sm-2"> 
            <div class="panel panel-success">
              <div class="panel-heading">Zandu Balm</div>
              <div class="panel-body"><img src="assets/Images/zandu_balm_ultra_power_pain_relief.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer">
                <button type="button" class="btn btn-success">View Product</button><br/><br/>
                <button type="button" class="btn btn-success">Add to Cart</button>
             </div>
            </div>
          </div>
    
          <div class="col-sm-2"> 
            <div class="panel panel-success">
              <div class="panel-heading">Volini</div>
              <div class="panel-body"><img src="assets/Images/volini-cream-pain-relief.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer">
                <button type="button" class="btn btn-success">View Product</button><br/><br/>
                <button type="button" class="btn btn-success">Add to Cart</button>
             </div>
            </div>
          </div>
    
    </div>
</div>

<router-outlet></router-outlet>


