<pre class=bg-success text-left>Contact Us:
                        Medicare eHealthcare,
                        Raj Bhawan Chowk, 
                        Delhi-125230,
                        India.

                        Landline Number: 021-12345678
                        Mobile Number: 0812345679
                        (We are 24*7 available)

                        Drop your feedback here: medicaredelhi@gmail.com
                        Order your medicines & essentials @: www.medicaredelhi.com






            
</pre>
