<P>Baby Care Products</P>
<div class="container">    
    <div class="row">
      <div class="col-sm-2">
        <div class="panel panel-success">
          <div class="panel-heading">Nestle Cerelac</div>
          <div class="panel-body"><img src="assets/Images/Nestle-cerelac-babycare.png" class="img-responsive" style="width:100%" alt="Image"></div>

          <div class="panel-footer" >
           
              <button type="button" class="btn btn-success">View Product</button><br/><br/>
              <button type="button" class="btn btn-success">Buy</button>
              

        </div>
        </div>
      </div>

      <div class="col-sm-2"> 
        <div class="panel panel-success">
          <div class="panel-heading">Pampers</div>
          <div class="panel-body"><img src="assets/Images/pampers-babycare.png" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">
            <button type="button" class="btn btn-success">View Product</button><br/><br/>
            <button type="button" class="btn btn-success"> Add to Cart </button>
         </div>
        </div>
      </div>
      <div class="col-sm-2"> 
        <div class="panel panel-success">
          <div class="panel-heading">Huggies</div>
          <div class="panel-body"><img src="assets/Images/huggies-babycare.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">
            <button type="button" class="btn btn-success">View Product</button><br/><br/>
            <button type="button" class="btn btn-success">Add to Cart</button>
      </div>
        </div>
      </div>

      <div class="col-sm-2"> 
        <div class="panel panel-success">
          <div class="panel-heading">Dove Baby Soap </div>
          <div class="panel-body"><img src="assets/Images/dove-babycare.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">
            <button type="button" class="btn btn-success">View Product</button><br/><br/>
            <button type="button" class="btn btn-success">Add to Cart</button>
      </div>
        </div>
      </div>

      <div class="col-sm-2"> 
        <div class="panel panel-success">
          <div class="panel-heading">Himalaya Baby Care </div>
          <div class="panel-body"><img src="assets/Images/Himalaya-babycare.png" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">
            <button type="button" class="btn btn-success">View Product</button><br/><br/>
            <button type="button" class="btn btn-success">Add to Cart</button>
      </div>
        </div>
      </div>

      <div class="col-sm-2"> 
        <div class="panel panel-success">
          <div class="panel-heading">Himalaya Gift Pack</div>
          <div class="panel-body"><img src="assets/Images/Himalaya-giftpack-babycare.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">
            <button type="button" class="btn btn-success">View Product</button><br/><br/>
            <button type="button" class="btn btn-success">Add to Cart</button>
      </div>
        </div>
      </div>

    </div>
</div>

<!-- <app-products></app-products> -->
<!-- <router-outlet></router-outlet> -->
